// FORMULARIO CONTACTO

.form-container {
    grid-area: form;
    background-color: $bg-form-contact-color;
    padding: 05px;
    border: 05px solid;
    border-style: double;
    height: 400px;
    justify-self: center;
}

.formulario-contacto {
    input {
        margin: 05px;
        border-radius: 06px;
        height: 35px;
        width: 500px;
    }
    textarea {
        margin: 05px;
        max-width: 500px;
        font-family: Roboto-Medium;
    }
}

#enviar {
    background-color: $bg-enviar-color;
    color:$wd-enviar-color;
    width: 500px;
}

