// FORMULARIO CONTACTO

.form-container {
    grid-area: form;
    background-color: $bg-form-contact-color;
    padding: 05px;
    border: $br-form-contact;
    height: 400px;
    justify-self: center;
}

.formulario-contacto {
    input {
        margin: 05px;
        border-radius: $br-form-contact-radius;
        height: 35px;
        width: 500px;
    }
    textarea {
        margin: 05px;
        max-width: 500px;
        font-family: Roboto-Medium;
        border-radius: $br-form-contact-radius;
    }
}

#enviar {
    background-color: $bg-enviar-color;
    color:$txt-enviar-color;
    width: 500px;
}

