// FORMULARIO CONTACTO

.form-container {
    grid-area: form;
    background-color: $bg-form-contact-color;
    padding: 05px;
    border: $br-form-contact;
    width: auto;
    height: 400px;
    justify-self: center;
}

.formulario-contacto {
    input {
        margin: 05px;
        border-radius: $br-form-contact-radius;
        height: 35px;
        width: 300px;
    }
    textarea {
        margin: 05px;
        max-width: 300px;
        font-family: Roboto-Medium;
        border-radius: $br-form-contact-radius;
    }
}

#enviar {
    background-color: $bg-enviar-color;
    color:$txt-enviar-color;
    width: 300px;
}

// DISEÑO MEDIA TABLET
@media screen and (min-width: 600px) {
    .form-container {
        align-self: center;
    }
    .formulario-contacto {
        input {
            width: 400px;
        }
        textarea {
            max-width: 400px;
        }
    }
    #enviar {
        width: 400px;
    }
}

// DISEÑO MEDIA DESKTOP
@media screen and (min-width: 1200px) {
    .formulario-contacto {
        input {
            width: 450px;
        }
        textarea {
            max-width: 450px;
        }
    }
    #enviar {
        width: 450px;
    }
}
