/* MAIN CLASE GLOBAL*/

.main-main {
    grid-area: main;
    font-family: Roboto-Medium;
}

// GRID NOSOTROS

.main-nosotros{
    @extend %displayflex;
    align-items: center;
}


// GRID SERVICIOS DISEÑO MOBILE

.main-servicios {
    grid-template-areas:
    "tituloservicios"
    "servicios";
    @include grid-areas($template-columns: 1fr, $template-rows: 10% auto);
}

// DISEÑO MEDIA TABLET SERVICIOS
@media screen and (min-width: 600px) {
    .main-servicios {
        grid-template-areas:
        "tituloservicios"
        "servicios";
        @include grid-areas($template-columns: 1fr, $template-rows: 10% auto);
    }
}

// DISEÑO MEDIA DESKTOP SERVICIOS
@media screen and (min-width: 1200px) {
}

// GRID PROYECTOS DISEÑO MOBILE

.main-proyectos {
    grid-template-areas:
    "titulopr"
    "sangabriel" 
    "monet"
    "sanandres"
    "santamaria";
    @include grid-areas($template-columns: 1fr, $template-rows: 100px repeat(4, 20%), $row-gap: true);
    article {
        place-self: center;
    }
    article h3 {
        text-align: center;
    }
    article img {
        height: 100%;
        width: 100%;
    }
}

// DISEÑO MEDIA TABLET PROYECTOS
@media screen and (min-width: 600px) {
    .main-proyectos {
        grid-template-areas:
        "titulopr titulopr"
        "sangabriel monet"
        "sanandres santamaria";
        @include grid-areas($template-columns: 1fr 1fr, $template-rows: 10% 1fr 1fr);
    }
}

// DISEÑO MEDIA DESKTOP PROYECTOS
@media screen and (min-width: 1200px) {
}


// GRID CONTACTO DISEÑO MOBILE

.main-contacto {
    grid-template-areas:
    "titulo"
    "form"
    "mapa";
    @include grid-areas($template-columns: auto, $template-rows: 100px 1fr 1fr);
}

// DISEÑO MEDIA TABLET/DESKTOP CONTACTO
@media screen and (min-width: 600px) {
    .main-contacto {
        grid-template-areas:
        "titulo titulo"
        "form mapa";
        @include grid-areas($template-columns: 1fr 1fr, $template-rows: 10% auto);
    }
}

// DISEÑO MEDIA DESKTOP CONTACTO
@media screen and (min-width: 1200px) {
}