// HEADER

.cabecera {
    grid-area: header;
    @extend %displayflex;
    background-image: linear-gradient($bg-header-color);
    justify-content: center;
    align-items: center;
    border: $br-header;
    font-family: Roboto-Medium;
    span {
        color: $txt-header-span-color;
        font-weight: 250;
    }
     img {
        border-radius: 100%;
    }
    }