// BODY INDEX //

.fondo-principal {
    grid-area: main;
    background-image: url("../../../images/fondoppal.webp");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}


// BODY NOSOTROS //

p {
    text-align: center;
}


// BODY SERVICIOS //

/* TITULO SERVICIOS */

#titulo-servicios {
    grid-area: tituloservicios;
    justify-self: center;
    align-self: center;
    background-color: $bg-list-servicios-color;
    place-self: center;
    ul {
        border: $br-list-servicios;
        width: auto;
        padding-left: 20px;
        list-style-type: square;
    }
    li {
        font-size: larger;
        margin: 10px;
        text-align: left;
    }
}

// DISEÑO MEDIA TABLET/DESKTOP SERVICIOS
@media screen and (min-width: 600px) {
    .list-servicios {
        place-self: center;
        ul {
            padding: 20px;
        }
        li {
            font-size: larger;
            margin: 10px;
        }
    }
}


// BODY PROYECTO //

/* TITULO PROYECTO */

#titulo-proyectos {
    grid-area: titulopr;
    justify-self: center;
    align-self: center;
}

/* PROYECTOS VARIOS */

#san-gabriel {
    grid-area: sangabriel;
}

#monet {
    grid-area: monet;
}

#san-andres {
    grid-area: sanandres;
}

#santa-maria {
    grid-area: santamaria;
}


// BODY CONTACTO //

/* TITULO */

#titulo-contacto {
    grid-area: titulo;
    justify-self: center;
    align-self: center;
}

/* MAPA */

#section-mapa {
    grid-area: mapa;
    align-self: center;
    justify-self: center;
}

/* PIE MAPA */

#pie-mapa {
    color: $txt-pie-mapa-color;
    text-align: center;
}

