// LISTADO MENU BARRA  

.lista-menu {
    display: none;
    grid-area: nav;
    border: map-get($borders, br-navbar);
    background-color: map-get($colors, bg-navbar-color);
    ul {
        list-style-type: none;
        margin-top: 125px;
        li {
            margin: 00px 00px 75px 00px;
            text-align: center;
            a {
                text-decoration: none;
                color: map-get($colors, txt-navbar-botones-color);
                background-color: map-get($colors, bg-navbar-botones-color);
                border: map-get($borders, br-navbar-botones);
                padding: 05px;
                border-radius: 05px;
                font-family: Roboto-Medium;
                transition: all 1s ease;
                &:hover {
                    background-color: map-get($colors, bg-navbar-hover-color);
                    color: map-get($colors, txt-navbar-hover-color);
                }
            }
        }
    }
}

// DISEÑO MEDIA DESKTOP
@media screen and (min-width: 1200px) {
    .lista-menu {
        display: initial;
    }
}
