$br-footer: 05px solid $br-footer-color;
$br-header: 05px solid $br-header-color;
$br-form-contact: 05px double;
$br-form-contact-radius: 10px;
$br-list-servicios: 5px double $br-list-servicios-color;
