// COLORES BACKGROUND

$bg-body-color: rgba(61, 61, 61, 0.966);
$bg-footer-color: rgba(61, 61, 61, 0.966);
$bg-header-color: to left, rgb(70, 165, 51), rgb(50, 60, 50);
$bg-form-contact-color: rgba(61, 61, 61, 0.966);
$bg-enviar-color: rgb(70, 165, 51);
$bg-list-servicios-color: rgba(61, 61, 61, 0.966);
$bg-navbar-color:  rgba(61, 61, 61, 0.966);
$bg-navbar-botones-color: rgb(40, 105, 32);
$bg-navbar-hover-color:  rgba(61, 61, 61, 0.966);

// COLORES PALABRAS

$wd-footwe-botones-color: rgba(255, 200, 21, 0.74);
$wd-header-span-color: rgba(255, 255, 255, 0.877);
$wd-enviar-color: rgba(255, 255, 255, 0.877);
$wd-navbar-botones-color: rgba(161, 150, 150, 0.705);
$wd-navbar-hover-color: rgba(255, 200, 21, 0.74);
$wd-pie-mapa-color: rgb(209, 179, 218);

