// COLORES BACKGROUND

$bg-body-color: rgba(61, 61, 61, 0.966);
$bg-footer-color: rgba(61, 61, 61, 0.966);
$bg-header-color: to left, rgb(70, 165, 51), rgb(50, 60, 50);
$bg-form-contact-color: rgba(61, 61, 61, 0.966);
$bg-enviar-color: rgb(70, 165, 51);
$bg-list-servicios-color: rgba(61, 61, 61, 0.966);


// COLORES TEXTO

$txt-footer-botones-color: rgba(255, 200, 21, 0.74);
$txt-header-span-color: rgba(255, 255, 255, 0.877);
$txt-enviar-color: rgba(255, 255, 255, 0.877);
$txt-pie-mapa-color: rgb(209, 179, 218);

// COLORES BORDERS
$br-footer-color: rgba(61, 61, 61, 0.966);
$br-header-color: rgb(44, 105, 32);
$br-list-servicios-color: rgb(44, 105, 32);
