/*-------------------------------------- INICIO GLOBAL / INDEX --------------------------------------*/

/* LISTADO MENU */

.lista-menu {
    background-color: rgba(61, 61, 61, 0.966);
}

.lista-menu section nav {
    justify-content: center;
    height: 100%;
}

.lista-menu section nav ul {
    list-style-type: none;
    margin-top: 125px;
}

.lista-menu section nav ul li {
    margin: 00px 00px 75px 00px;
    text-align: center;
}

.lista-menu section nav ul li a {
    text-decoration: none;
    color: rgba(161, 150, 150, 0.705);
    background-color: rgb(40, 105, 32);
    border: 05px solid rgb(70, 165, 51);
    padding: 05px;
    border-radius: 05px;
    font-family: Roboto-Medium;
}

.lista-menu section nav ul li a:hover {
    background-color: rgba(61, 61, 61, 0.966);
    color: rgba(255, 200, 21, 0.74);
}

/* HEADER */

.cabecera {
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: rgb(70, 165, 51);
    border: 05px solid rgb(44, 105, 32);
    font-family: Roboto-Medium;
}


.cabecera span {
    color: rgba(255, 255, 255, 0.877);
    font-weight: 250;
}

.cabecera img {
    border-radius: 100%;
    width: 100px;
}

/* BODY INDEX */

.img-fluid {
    padding: 00;
    width: 100%;
}


/* FOOTER LISTADO MENU PIE DE PAGINA */

.menu-pie-pagina {
    border: 05px solid rgba(61, 61, 61, 0.966);
    background-color: rgba(61, 61, 61, 0.966);
}

.menu-pie-pagina ul {
    text-align: center;
    padding: 18px;
}

.menu-pie-pagina ul li {
    display: inline-block;
}

.menu-pie-pagina ul li a{
    color: rgba(255, 200, 21, 0.74);
    text-decoration: none;
}

/*-------------------------------------- FIN GLOBAL / INDEX --------------------------------------*/


/*-------------------------------------- INICIO NOSOTROS --------------------------------------*/

/* BODY NOSOTROS */

p {
    display: flex;
    align-items: center;
    height: 600px;
    text-align: center;
}

/*-------------------------------------- FIN NOSOTROS --------------------------------------*/


/*-------------------------------------- INICIO SERVICIOS --------------------------------------*/

/* BODY SERVICIOS */

.lista-servicios {
    display: flex;
    align-content: center;
}

/*-------------------------------------- FIN SERVICIOS --------------------------------------*/

