.main-nosotros, .cabecera {
  display: flex;
}

* {
  padding: 0;
  margin: 0;
}

html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
  background-color: rgba(61, 61, 61, 0.966);
  font-family: Roboto-Medium;
}

@font-face {
  font-family: Roboto-Medium;
  src: url("../fonts/Roboto-Medium.ttf");
}
.grid {
  display: grid;
}

.main-body {
  grid-template-areas: "header" "main" "footer";
  grid-template-rows: 100px auto 10%;
  grid-template-columns: auto;
}

@media screen and (min-width: 600px) {
  .main-body {
    grid-template-areas: "header" "main" "footer";
    grid-template-rows: 100px auto 10%;
    grid-template-columns: auto;
  }
}
@media screen and (min-width: 1200px) {
  .main-body {
    grid-template-areas: "nav header" "nav main" "nav footer";
    grid-template-rows: 100px auto 10%;
    grid-template-columns: 15% auto;
  }
}
.cabecera {
  grid-area: header;
  background-image: linear-gradient(to left, rgb(70, 165, 51), rgb(50, 60, 50));
  justify-content: center;
  align-items: center;
  border: 5px solid rgb(44, 105, 32);
  font-family: Roboto-Medium;
}
.cabecera span {
  color: rgba(255, 255, 255, 0.877);
  font-weight: 250;
}
.cabecera img {
  border-radius: 100%;
}

.lista-menu {
  display: none;
  grid-area: nav;
  border: 5px solid rgba(61, 61, 61, 0.966);
  background-color: rgba(61, 61, 61, 0.966);
}
.lista-menu ul {
  list-style-type: none;
  margin-top: 125px;
}
.lista-menu ul li {
  margin: 0px 0px 75px 0px;
  text-align: center;
}
.lista-menu ul li a {
  text-decoration: none;
  color: rgba(161, 150, 150, 0.705);
  background-color: rgb(40, 105, 32);
  border: 5px solid rgb(70, 165, 51);
  padding: 5px;
  border-radius: 5px;
  font-family: Roboto-Medium;
  transition: all 1s ease;
}
.lista-menu ul li a:hover {
  background-color: rgba(61, 61, 61, 0.966);
  color: rgba(255, 200, 21, 0.74);
}

@media screen and (min-width: 1200px) {
  .lista-menu {
    display: initial;
  }
}
.fondo-principal {
  grid-area: main;
  background-image: url("../images/fondoppal.webp");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

p {
  text-align: center;
}

/* TITULO SERVICIOS */
#titulo-servicios {
  grid-area: tituloservicios;
  justify-self: center;
  align-self: center;
}

.list-servicios {
  grid-area: servicios;
  background-color: rgba(61, 61, 61, 0.966);
  place-self: center;
}
.list-servicios ul {
  border: 5px double rgb(44, 105, 32);
  width: 500px;
  padding: 20px;
  list-style-type: square;
}
.list-servicios li {
  font-size: larger;
  margin: 10px;
  text-align: center;
}

/* TITULO PROYECTO */
#titulo-proyectos {
  grid-area: titulopr;
  justify-self: center;
  align-self: center;
}

/* PROYECTOS VARIOS */
#san-gabriel {
  grid-area: sangabriel;
}

#monet {
  grid-area: monet;
}

#san-andres {
  grid-area: sanandres;
}

#santa-maria {
  grid-area: santamaria;
}

/* TITULO */
#titulo-contacto {
  grid-area: titulo;
  justify-self: center;
  align-self: center;
}

/* MAPA */
#section-mapa {
  grid-area: mapa;
  align-self: center;
  justify-self: center;
}

@media screen and (min-width: 1200px) {
  #section-mapa {
    justify-self: left;
  }
}
/* PIE MAPA */
#pie-mapa {
  color: rgb(209, 179, 218);
  text-align: center;
}

.menu-pie-pagina {
  grid-area: footer;
  border: 5px solid rgba(61, 61, 61, 0.966);
  background-color: rgba(61, 61, 61, 0.966);
  height: 100%;
}
.menu-pie-pagina ul {
  text-align: center;
  padding-top: 25px;
}
.menu-pie-pagina ul li {
  display: inline-block;
}
.menu-pie-pagina ul li a {
  color: rgba(255, 200, 21, 0.74);
  text-decoration: none;
  font-family: Roboto-Medium;
}

.form-container {
  grid-area: form;
  background-color: rgba(61, 61, 61, 0.966);
  padding: 5px;
  border: 5px double;
  height: 400px;
  justify-self: center;
}

.formulario-contacto input {
  margin: 5px;
  border-radius: 10px;
  height: 35px;
  width: 500px;
}
.formulario-contacto textarea {
  margin: 5px;
  max-width: 500px;
  font-family: Roboto-Medium;
  border-radius: 10px;
}

#enviar {
  background-color: rgb(70, 165, 51);
  color: rgba(255, 255, 255, 0.877);
  width: 500px;
}

/* MAIN CLASE GLOBAL*/
.main-main {
  grid-area: main;
  font-family: Roboto-Medium;
}

.main-nosotros {
  align-items: center;
}

.main-servicios {
  grid-template-areas: "tituloservicios" "servicios";
  grid-template-columns: 1fr;
  grid-template-rows: 10% auto;
}

@media screen and (min-width: 600px) {
  .main-servicios {
    grid-template-areas: "tituloservicios" "servicios";
    grid-template-columns: 1fr;
    grid-template-rows: 10% auto;
  }
}
@media screen and (min-width: 1200px) {
  .main-servicios {
    grid-template-areas: "tituloservicios" "servicios";
    grid-template-columns: 1fr;
    grid-template-rows: 10% auto;
  }
}
.main-proyectos {
  grid-template-areas: "titulopr" "sangabriel" "monet" "sanandres" "santamaria";
  grid-template-columns: 1fr;
  grid-template-rows: 100px repeat(4, 20%);
  row-gap: 50px;
}
.main-proyectos article {
  place-self: center;
}
.main-proyectos article h3 {
  text-align: center;
}
.main-proyectos article img {
  height: 100%;
  width: 100%;
}

@media screen and (min-width: 600px) {
  .main-proyectos {
    grid-template-areas: "titulopr titulopr" "sangabriel monet" "sanandres santamaria";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 10% 1fr 1fr;
  }
}
@media screen and (min-width: 1200px) {
  .main-proyectos {
    grid-template-areas: "titulopr titulopr" "sangabriel monet" "sanandres santamaria";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 10% 1fr 1fr;
  }
}
.main-contacto {
  grid-template-areas: "titulo" "form" "mapa";
  grid-template-columns: auto;
  grid-template-rows: 100px 1fr 1fr;
  -moz-column-gap: 10px;
       column-gap: 10px;
}

@media screen and (min-width: 600px) {
  .main-contacto {
    grid-template-areas: "titulo titulo" "form mapa";
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 10% auto;
  }
}
@media screen and (min-width: 1200px) {
  .main-contacto {
    grid-template-areas: "titulo titulo" "form mapa";
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 10% auto;
  }
}/*# sourceMappingURL=styles.css.map */